{{restaurant.name}}
{{restaurant.Category.name}}

<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
    <hr>
  </div>

  <div class="col-md-12">
    <div>
      <ul>
        <li>Comments: {{comments}}</li>
        <li>Views: </li>
        <li>Favorited:</li>
      </ul>
    </div>
  </div>
</div>