<div class="row">
  <div class="col-md-12">
    <div class="card">


      <div class="row">
        <div class="col-md-6">
          <img class="card-img-left" src="{{viewUser.image}}" style="width: 250px;" alt="user avatar">
        </div>

        <div class="col-md-6">
          <div class="well">
            <ul class="list-unstyled">
              <li><strong>

                  <h1>{{viewUser.name}}
                    {{#ifCond viewUser.id currentUser}}

                    <a href="/users/{{viewUser.id}}/edit" class="btn btn-primary">Edit</a>

                    {{/ifCond}}
                  </h1>

                </strong></li>
              <li><strong>Email:</strong> {{viewUser.email}}</li>
              <li><strong>Role:</strong> {{#if viewUser.isAdmin}}Admin{{else}}Users{{/if}}</li>
            </ul>
          </div>
          <div>
            <h6><strong>{{viewUser.Followings.length}}</strong> followings</h6>
            <h6><strong>{{viewUser.Followers.length}}</strong> followers</h6>
            <h6><strong>{{viewUser.Comments.length}}</strong> 已評論餐廳</h6>
            <h6><strong>{{viewUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</h6>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card my-2">
      <h5 class="card-header"><strong>{{viewUuser.Followings.length}}</strong> followings</h5>
      <div class="card-body">
        {{#each viewUser.Followings}}
        <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" alt="image-thumb" class="img-thumbnail"
            style="width:100px; height: 100px"></a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card my-2">
      <h5 class="card-header"><strong>{{viewUser.Comments.length}}</strong> 已評論餐廳</h5>
      <div class="card-body">
        {{#each viewUser.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" alt="image-thumb"
            class="img-thumbnail" style="width:100px; height: 100px"></a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card my-2">
      <h5 class="card-header"><strong>{{viewUser.Followers.length}}</strong> followers</h5>
      <div class="card-body">
        {{#each viewUser.Followers}}
        <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" alt="image-thumb" class="img-thumbnail"
            style="width:100px; height: 100px"></a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card my-2">
      <h5 class="card-header"><strong>{{viewUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</h5>
      <div class="card-body">
        {{#each viewUser.FavoritedRestaurants}}
        <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" alt="image-thumb" class="img-thumbnail"
            style="width:100px; height: 100px"></a>
        {{/each}}
      </div>
    </div>
  </div>
</div>